<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>


<h1>ユーザー情報一覧（debug用）</h1>

<% if flash.notice %>
    <p class="notice"><%= flash.notice %></p>
<% end %>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>自己紹介</th>
            <th>更新日</th>
            <th>作成日</th>
            <th>参照</th>
            <th>編集</th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.introduction %></td>
                <td><%= user.updated_at %></td>
                <td><%= user.created_at %></td>
                <td>
                    <%= link_to "参照", user %>
                </td>
                <td>
                    <#%= link_to "編集", [:edit, user] %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
